body {
  font-family: 'Inter', sans-serif;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-isidebar-linkn-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar-link {
  transition: all 0.2s ease-in-out;
}

.sidebar-link.active {
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.sidebar-link:first-child:hover,
.sidebar-link:nth-child(2):hover {
  cursor: pointer;
}

.asset-card {
  transition: all 0.2s ease-in-out;
}

.asset-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.logout svg {
  stroke: rgb(107 114 128);
}

.login {
  transition: 0.3s;
}

.aside.mobile {
  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
}

.profile.mobile {
  position: absolute;
  bottom: 0;
  width: 100%;
}